//Themes
.primary-theme {
  background-color: var(--green);
  color: var(--white);
}

.secondary-theme {
  background-color: var(--red);
  color: var(--white);
}

.tertiary-theme {
  background-color: #2b18b4
}

[disabled] {
  background-color: rgb(106, 106, 106);
  color: lightgrey;
}

//Shape
.rounded {
  padding: 8px 40px;
  width: 205;
  height: 40;
  top: 486px;
  left: 58px;
  opacity: 1;
  border-radius: 20px;
  font-family: var(--nunito), sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.square {
  padding: 8px 40px;
  width: 205;
  height: 40;
  top: 486px;
  left: 58px;
  opacity: 1;
  font-family: var(--nunito), sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}