.home-container {
  width: 320px;
  height: 568px;
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
