@mixin img-dark-bg {
  background-color: var(--dark-bg);
  border-radius: 50%;
};

.home-container {
  display: grid;
  place-items: center;
}

.home-salad-img-bg {
  position: absolute;
  width: 159px;
  height: 159px;
  top: 18px;
  left: 221px;
  @include img-dark-bg;
}

.home-salad-img {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 42px;
  left: 245px;
}

.home-burger-img-bg{
  position: absolute;
  width: 159px;
  height: 159px;
  top: 58px;
  left: -52px;
  @include img-dark-bg;
}

.home-burger-img {
  position: absolute;
  width: 92px;
  height: 92px;
  top: 92px;
  left: -20px;
}

.home-restaurant-img {
  position: absolute;
  width: 206px;
  top: 171px;
  left: 58px;
}

.img-text-section {
  display: grid;
  gap: 167%;
}

.home-donut-img-bg {
  position: absolute;
  width: 112px;
  height: 112px;
  top: 357px;
  left: -32px;
  @include img-dark-bg;
}

.home-donut-img {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 379px;
  left: -8px;
}