<div aria-label="Home view" class="home-container">
  <section>
    <div class="home-salad-img-bg"></div>
    <img src="../assets/img/salad.png" class="home-salad-img">
  </section>
  <section>
    <div class="home-burger-img-bg"></div>
    <img src="../assets/img/burger.png" class="home-burger-img">
  </section>
  <section>
    <img src="../assets/img/restaurant.png" class="home-restaurant-img">
  </section>
  <section class="img-text-section">
    <div>
      <div class="home-donut-img-bg"></div>
      <img src="../assets/img/donut.png" class="home-donut-img">
    </div>
    <p>You can’t stop eating, <br> so go!</p>
  </section>
  <section>
    <rui-button [buttonText]="text"></rui-button>
  </section>
</div>
