@import "./app/styles/_init-css.scss";

:root {
  --green: #28B57E;
  --dark: #2C2C2C;
  --red: tomato;
  --dark-bg: #1E1E1E66;
  --white: #fff;
  --nunito: "Nunito Sans";
}

@mixin img-dark-bg {
  background-color: var(--dark-bg);
  border-radius: 50%;
};

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--nunito), sans-serif;
}

.container {
  width: 320px;
  height: 568px;
  background-color: var(--dark);
  color: var(--white);
  position: relative;
  overflow: hidden;
}