@import "./app/styles/_init-css.css";

:root {
  --green: #28B57E;
  --dark: #2C2C2C;
  --dark-bg: #1E1E1E66;
  --white: #fff;
  --nunito: "Nunito Sans";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--nunito), sans-serif;
}
